* {
    padding: 0;
    margin: 0;    
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: black !important;
}
p {
    color: rgba(255, 251, 251, 0.603);
}
.bg-dark-blue {
    background-color: hsl(233, 47%, 7%);
}
.bg-secondary {
    background-color: hsl(244, 38%, 16%);
}
.bg-third {
    background-color: hsl(277, 64%, 61%);
}
.text-primary {
    color: hsl(277, 64%, 61%);
}
.container {
    height: 100vh;
}
.content-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-title {
    font-size: 2.5rem;
    font-weight: bold;
}
.content-img {
    background-color: hsla(277, 64%, 61%, 0.5);
}